.container{
    padding: 5rem 0;
    margin-top: 5rem;
}

.contents{
    margin-top: 1rem;
    margin-bottom: 3rem;

}
.contents p{
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.contents a{
    font-size: 1.2rem;
    margin-top: 2rem;
}
.rightsection h1{
    font-size: 2.6rem;
    margin-bottom: 5rem;
}

@media(max-width:1000px){
    .container  img{
        height: 70%;
        width: 90%;
        margin-right: 5rem;
    }
    .rightsection{
        margin-left: 2rem;  
    }
    .rightsection h1{
        font-size: 2rem;

    }
    .rightsection p{
        font-size: 1.2rem;
    }
}
