
.containercol{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 800px;
}
.LargestBrokerImg{
    margin-left: -10rem;
    margin-right: 10rem;
    height: 400px;
    width: 600px;
}
.Large{
    font-size: 2.7rem;
}
.LargestBroker{
    margin-right: -6rem;
}
.LargestBroker p{
    font-size: 1.3rem;
    margin-top: 1rem;
    
}
.listitems{
    font-size: 1.2rem;
    gap: 8rem;
    margin-top: 2rem;
}

ul li{
    margin-top: 1.5rem;
    
}
.presslogo{
    margin-top: 2rem;
}

@media (max-width: 1000px){
    .LargestBrokerImg{
        width: 50%;
        height: 30vh;
    }
    .LargestBroker h1{
        font-size: 2.1rem;
    }
    .LargestBroker p{
        font-size: 1.2rem;
    }
    .LargestBroker ul li{
        font-size: 0.8rem;
    }
    .presslogo{
        width: 100%;
    }

}

