.hero {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 20px;
  color: #424242;
  line-height: 1.5;
}

.twocol {
  display: flex;
  gap: 60px;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 120px;
  color: #424242;
  font-size: 18px;
  line-height: 1.6;
}

.col {
  flex: 1;
}

.peopleSection {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  margin-bottom: 120px;
  color: #424242;
}

.imagepeople img {
  width: 250px;
  border-radius: 8px;
}

.imagepeople p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: #424242;
}
.peopleWrapper {
  max-width: 1100px;
  margin: 150px auto;
  text-align: center;
  color: #424242;
}

.peopleWrapper h3 {
  margin-bottom: 60px;
  font-weight: 500;
}

.personRow {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.personLeft img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 25px;
}

.personLeft h5 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.role {
  font-size: 14px;
  text-align: center;
  color: #6c6c6c;
  margin-top: 5px;
}

.personRight {
  font-size: 18px;
  line-height: 1.6;
  max-width: 550px;
}

.personRight a {
  color: #1976d2;
  text-decoration: none;
}
